header{
height:5rem;
text-align: center;
background-color:green;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#f0f8ff;
}

aside{
    height:10rem;
    width:10rem;
    background-color: antiquewhite;
}
center{
    position:relative;
    bottom:10rem;
    
}
.aside-sec{
    height:10rem;
    width:10rem;
    background-color: antiquewhite;
    position:relative;
    bottom:9rem;
}
footer{
height:5rem;
font-size: large;
text-align: center;
position:relative;
bottom:10rem;
background-color:green;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#f0f8ff;

}
.unorderedlist{
    
    position:relative;
    margin-left:35rem;
    bottom:10rem;

}